/* --------------------------------------- media queries ------------------------------------------------- */

@media screen and (max-width: 1400px) {

    #lunchlist {
      width: 70%;
    }
  
    #timetable {
      width: 70%;
    }
  
  }
  
  @media screen and (max-width: 1300px) {
  
    #lunchlist {
      width: 80%;
    }
  
    #timetable {
      width: 80%;
    }
  
   i {
    font-size: 25px;
  }
  }
  
  @media screen and (max-width: 1100px) {
  
    #weathertable {
      width: 30%;
    }
  
    h1, h2 {
      font-family: 'Playfair Display', serif;
      font-size: 1.3em;
   }
   
   p, ul li {
     font-family: 'Raleway', sans-serif;
     font-size: 1em;
   }
  
   i {
    font-size: 20px;
  }
  
  #text h2 {
    margin-bottom: 30px;
  }
  }
  
  @media screen and (max-width: 1000px) {
  
    #lunchlist {
      width: 90%;
    }
  
    #timetable {
      width: 90%;
    }
  }
  
  @media screen and (max-width: 950px) {
  
    h1, h2 {
        font-family: 'Playfair Display', serif;
        font-size: 1.5em;
     }
     
     p, ul li {
       font-family: 'Raleway', sans-serif;
       font-size: 1.2em;
     }
  
    #lunch {
        background: url('../img/photo-1597484389225-c68a9f0fa106.jpeg');
        background-position: center center;
        background-size: cover;
        justify-content: flex-end;
    }
 
  
    #lunchlist {
      width: 100%;
      height: 65%;
    }
  
    .lists ul {
        height: 100%;
        display: flex;
        flex-direction: column;
    }
  
    .lists ul li {
        padding-top: 30px;
        padding-bottom: 30px;
    }
  
    #timetable {
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
  
    #timetable h2 {
        margin-bottom: 80px;
    }

    #weathertable {
        width: 40%;
      }

    #coronatable {
        width: 70%;
        
    }

  }

  @media screen and (max-width: 830px) {

    h1, h2 {
        font-family: 'Playfair Display', serif;
        font-size: 1.3em;
     }
     
     p, ul li {
       font-family: 'Raleway', sans-serif;
       font-size: 1.1em; 
       font-weight: 600;
     }

  }

  @media screen and (max-width: 730px) {

    #lunch figure img {
        width: 250px;
    }
     
     p, ul li {
       font-family: 'Raleway', sans-serif;
       font-size: 0.9em;
     }

     #weathertable {
        width: 50%;
      }

    #coronatable {
        width: 80%;
        
    }

  }

  @media screen and (max-width: 600px) {
    p, ul li {
        font-family: 'Raleway', sans-serif;
        font-size: 0.8em;
      }
  }

  @media screen and (max-width: 530px) {

    .lists ul li {
        font-size: 0.7em;
       
    }

    #weathertable {
        width: 70%;
      }
  }

  @media screen and (max-width: 480px) {
    .lists ul li {
        font-size: 0.6em;
       
    }
  }

  @media screen and (max-width: 420px) {

    .lists ul li {
        font-size: 0.5em;
       
    }
  }